@import url("./colors-waybar.css");

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 17px;
  /* font-weight: bold; */
  border-radius: 0px;
  margin: 0;
}

menu {
  background-color: #323232;
  border-radius: 10px;
  color: #ddc7a1;
  padding: 0.8em;
}
separator {
  border: 2px solid #ddc7a1;
  margin: 0.5rem 0 0.5rem 0;
}
menuitem:hover {
  background: #ddc7a1;
  color: #323232;
}

window#waybar {
  background-color: transparent;
}

window#waybar > box {
  border-radius: 8px;
  margin: 5px 60px 5px 60px;
  padding: 0.2rem;
  background-color: #323232;
  box-shadow: 4px 5px 2px rgba(29, 29, 29, 0.7);
}

tooltip {
  background: #323232;
  border-radius: 10px;
}

tooltip label {
  color: #ddc7a1;
  background-color: #323232;
  border-radius: 8px;
}

tooltip * {
  border-radius: 8px;
}

#workspaces {
  padding-left: 0.5rem;
  background-color: #323232;
  color: rgba(212, 190, 153, 0.381);
  font-weight: bolder;
  padding-right: 0.5rem;
}

#taskbar {
  color: #ddc7a1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.818);
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  background-color: #323232;
  font-weight: bolder;
  font-style: oblique;
}
#taskbar button {
  margin-left: 1rem;
}

#workspaces button {
  font-style: italic;
  margin-left: 0.1rem;
  padding: 0 0.5rem;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  font-style: normal;
  color: #ddc7a1;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #323232;
  text-shadow: 0 0 5px rgba(235, 191, 62, 0.939);
  transition: all 0.1s ease-in-out;
  background-color: #ebdbb2;
  font-style: normal;
  /* border-bottom: 3px solid #ddc7a1; */
}

#clock,
#custom-weather {
  font-family: "GE Inspira";
  font-weight: bolder;
  color: #ddc7a1;
  background-color: #323232;
}

#clock,
#custom-weather {
  background-color: #323232;
  color: #ddc7a1;
  text-shadow: 0 0 5px #000000;
}
#clock {
  padding-right: 0.5rem;
}
#custom-weather {
  padding-right: 0.5rem;
}
#custom-updates {
  font-family: "JetBrains Mono Nerd Font";
  padding-left: 1rem;
  color: #ddc7a1;
  font-size: 1.1rem;
  border-radius: 10px 0 0 10px;
  background-color: #323232;
  text-shadow: 0 0 3px rgb(0, 0, 0);
}

#custom-left-slant-right {
  background-color: #323232;
  font-size: 1.5rem;
  color: #3c3836;
  margin: 0;
  padding-right: 17px;
}

#custom-center-slant-left {
  background-color: #282828;
  font-size: 1.5rem;
  color: #323232;
  margin: 0;
  padding-right: 1rem;
}
#custom-center-slant-right {
  background-color: #323232;
  color: #282828;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 1.2rem;
}
#window {
  color: #ddc7a1;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.818);
  transition: all 0.5s ease-in-out;
  font-size: 15px;
  background-color: #323232;
  font-weight: bolder;
  font-style: oblique;
}

#custom-colorPicker,
#custom-cycle_wall,
#language,
#tray,
#memory,
#disk,
#backlight,
#battery,
#pulseaudio,
#custom-screenshot,
#cpu,
#custom-toggle_dashboard,
#custom-screenrecorder,
#custom-notifications {
  background-color: #323232;
  padding-left: 0.7rem;
  padding-right: 0;
  color: #ddc7a1;
}
#custom-screenrecorder {
  color: #ddc7a1;
}
#custom-screenrecorder.enabled {
  color: #ea6962;
}
#volume {
  padding-left: 0rem;
  padding-right: 0rem;
}
#cpu {
  padding-left: 0rem;
  padding-right: 0rem;
}
#battery {
  padding-right: 0.7rem;
  padding-left: 0.8rem;
}
#memory {
  padding-right: 0rem;
  padding-left: 0rem;
}
#custom-notifications {
  border-radius: 0 10px 10px 0;
  padding-left: 0.2rem;
  padding-right: 1rem;
}
#custom-right-slant-right {
  background-color: #3c3836;
  color: #504945;
  font-size: 1.5rem;
  margin: 0;
  padding-right: 0.2rem;
}
#custom-toggle_dashboard {
  border-radius: 0 10px 10px 0;
  font-size: 1.1rem;
  padding-right: 0.5rem;
}
